.logo-img {
  height: 50px;
  width: 65px;
  display: inline-block;
}

.header {
  width: 910px;
}

.header-1 {
  align-items: center;
  border: 1px solid black;
}

.header-col {
  vertical-align: middle;
  height: 100%;
  width: 300px;
  display: inline-block;
}

.header-col-center {
  text-align: center;
}

.header-col-right {
  text-align: right;
}

.header-col-left {
  text-align: left;
}

.nav {
  height: 100%;
}

.list {
  list-style: none;
  margin: 5px;
  padding: 0;
  text-align: center;
}

.item {
  display: inline-block;
  margin: 6px;
}

.link {
  text-decoration: none;
  color: black;
  font-style: normal;
}

.contacts {
  text-align: right;
}

.contacts-tel {
  color: purple;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  display: inline-block;
  margin-top: 80px;
  margin-left: 120px;
}

.circle-small {
  background-color: red;
  height: 50px;
  width: 50px;
  position: relative;
}
.circle-small-1 {
  top: 12px;
  left: 6px;
}

.circle-small-2 {
  top: 100px;
  left: 150px;
}

.circle-small-3 {
  bottom: 150px;
  left: 100px;
}

.circle-small-4 {
  left: 150px;
}

.circle-small-5 {
  bottom: 100px;
  left: 150px;
}

.circle-small-6 {
  bottom: 100px;
  left: 200px;
}

.circle-2 {
  margin-left: 270px;
}
